<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Signup Form Fashion-world</title>
     
     <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  /* height: 100%; */
  /* width: 100%; */
  place-items: center;
  background: #f2f2f2;
  /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
  background-image: url('/public/login\ img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
::selection{
  background: #4158d0;
  color: #fff;
}
.wrapper{
  width: 500px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  flex-direction: column; /* Align children vertically */
  justify-content: center; /* Align children vertically */
  align-items: center; /* Align children horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .title{
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #1d1d1d, #888888);
}
.wrapper form{
  padding: 10px 30px 50px 30px;
}
.wrapper form .field{
  height: 50px;
  width: 100%;
  margin-top: 30px;
  position: relative;
}
.wrapper form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 14px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid{
  border-color: #515257;
}
.wrapper form .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 14px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}
form .content{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
 
form .content input{
  width: 15px;
  height: 15px;
  background: red;
}
form .content label{
  color: #262626;
  user-select: none;
  padding-left: 5px;
}
form .content .pass-link{
  color: "";
}
form .field input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #1d1d1d, #888888);
  transition: all 0.3s ease;
}
form .field input[type="submit"]:active{
  transform: scale(0.95);
}
form .signup-link{
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a{
  color: #4158d0;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover{
  text-decoration: underline;
}

 /* CSS styles for the button */
 .custom-button {
  background-color: #007bff;
  color: #e61818;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

/* Hover effect */
.custom-button:hover {
  background-color: #0772e4;
}

.input-row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.error-message {
  color: red;
  font-size: small;
}

</style>

   </head>

   <body>
      <div class="wrapper">
         <div class="title">
             Signup-Form
         </div>
          
         <form id="signupForm" action="/signup" method='post'>

            <div class="input-row">
              <div class="field">
                  <input type="text" name="username" id="name" placeholder="Enter your name">
                  <label for="">Name</label>
                  <div id="nameError" class="error-message"></div>
              </div>
           
              <div class="field">
                <input type="email" name="email" id="email" placeholder="Enter your email">
                <label>Email</label>
                <div id="emailError" class="error-message"></div>
              </div>
            </div>

            <div class="input-row">
              <div class="field">
                <input type="password" name="password" id="password" placeholder="Enter your password ">
                <label>Password</label>
                <div id="passwordError" class="error-message"></div>
              </div>

              <div class="field">
                  <input type="tel" name="mobile" id="phone" placeholder="Enter your phone number">
                  <label for="">Phone No</label>
                  <div id="phoneError" class="error-message"></div>
              </div>
            </div>

            <div class="input-row">
              <div class="field">
                  <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm your password">
                  <label for="">Confirm Password</label>
                  <div id="confirmPasswordError" class="error-message"></div>
              </div>
            </div>

            <div class="field">
               <input type="submit" value="Sign up">
            </div>

            
            
            <div class="signup-link mt-0 pt-0">
              Already have an account? <a href="/login" class="signup">Login Now</a>
            </div>
         </form>
         <div class="mt-3">
          <% if(expressFlash.invalidpassword && expressFlash.invalidpassword.length > 0) { %>
              <div class="alert alert-danger" role="alert">
                  <%= expressFlash.invalidpassword %>
              </div>
          <% } %>
          <% if(expressFlash.invaliduser && expressFlash.invaliduser.length > 0) { %>
              <div class="alert alert-danger" role="alert">
                  <%= expressFlash.invaliduser %>
              </div>
          <% } %>
      </div>
    </div>

    <script>
        document.getElementById("signupForm").addEventListener("submit", function(event) {
            var name = document.getElementById("name").value;
            var email = document.getElementById("email").value;
            var phone = document.getElementById("phone").value;
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirm_password").value;
            var nameError = document.getElementById("nameError");
            var emailError = document.getElementById("emailError");
            var phoneError = document.getElementById("phoneError");
            var passwordError = document.getElementById("passwordError");
            var confirmPasswordError = document.getElementById("confirmPasswordError");
    
            nameError.innerHTML = "";
            emailError.innerHTML = "";
            phoneError.innerHTML = "";
            passwordError.innerHTML = "";
            confirmPasswordError.innerHTML = "";
    
            if (name.length < 4) {
                nameError.innerHTML = "Name too short at least 4 char";
                event.preventDefault();
            }
            if (!/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
                emailError.innerHTML = "Invalid email address";
                event.preventDefault();
            }
            if (!/^\d{10}$/.test(phone)) {
                phoneError.innerHTML = "Invalid phone number";
                event.preventDefault();
            }
            if (password.length < 6) {
                passwordError.innerHTML = "Password at least 6 char long";
                event.preventDefault();
            }
            if (password !== confirmPassword) {
                confirmPasswordError.innerHTML = "Passwords do not match";
                event.preventDefault();
            }
        });
    </script>
  
   </body>
</html>
